h1
{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: rgb(255, 167, 159);
    font-size: 100px;
}

a.button1
{
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align :center;
    transition: all 0.2s;
}

a.button1:hover
{
    color:#000000;
    background-color:#FFFFFF;
}

@media all and (max-width:30em)
{
     a.button1
    {
    display:block;
    margin:0.4em auto;
    }
}

html
{
    background-color: #5B84B1FF;
}

.container 
{
    display: flex;
    width: 100%;
    background-color: rgb(255, 151, 168);
    flex-wrap: wrap;
}
          

.flex-item 
{
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.flex-img img 
{
    max-width: 100%;
}

.flex-info 
{
    margin-top: auto;
}


@media (max-width: 920px) 
{
    .flex-item 
    {
        flex: 1 21%;
    }

     section 
     {
       column-width: 15em;
     }

     grid 
     {
      grid-template-columns: 2fr 1fr;
     }
     
     header,
     footer 
     {
      grid-column: 1 / 3;
     } 
}

